 <header class="header">

        <div class="header-container">

         <img class="header-container-logo" src="../../assets/img/Logo.png">
        
        
            <div class="menu-mobile">
                <div id="myLinks" style="display: none;">
                <ul>
                    <li><div style="padding: 5px"><a href="index.html#1" style="color: #6ed73e">STRONA GŁÓWNA</div></a></li>
                    <li><div style="padding: 5px"><a href="treningi.html">TRENINGI</div></a></li>
                    <li><div style="padding: 5px"><a href="Wyscigi.html">WYŚCIGI</div></a></li>
                    <li><div style="padding: 5px"><a href="Kontakt.html">KONTAKT</div></a></li>
                </ul>

            </div>
        </div>
       
       
            <ul class="menu">
                <li><div style="padding: 5px"><a href="index.html#1" style="color: #6ed73e">STRONA GŁÓWNA</div></a></li>
                <li><div style="padding: 5px"><a href="treningi.html">TRENINGI</div></a></li>
                <li><div style="padding: 5px"><a href="Wyscigi.html">WYŚCIGI</div></a></li>
                <li><div style="padding: 5px"><a href="Kontakt.html">KONTAKT</div></a></li>
            </ul> 
            
    
        <button class="lo" onclick="myFunction()">
           
        
            <div class="icon">
            
                <div class="icon-menu"></div>
                <div class="icon-menu"></div>
                <div class="icon-menu"></div>
           
            </div>
        
        </button>
    
            <script src="../../js/script.js"></script>
        </div>
    </header>