<body>

    <div class="box">
        <div class="arrow">
            <a href="#main_content"><img src="../../assets/img/strzalka.png"></a>
        </div>

    </div>

    <h2 class="title">TWOJA DROGA DO ZDROWIA I LEPSZEJ JAKOŚCI ŻYCIA</h2>


    <div class="text">
        <p>Bieganie to jedna z najprostszych, a zarazem najskuteczniejszych form aktywności fizycznej.Niezależnie od
            tego, czy dopiero zaczynasz swoją przygodę z bieganiem, czy jesteś doświadczonym biegaczem, każdy krok na
            trasie przynosi korzyści dla ciała i umysłu. To nie tylko doskonały sposób na poprawę kondycji, ale także
            chwila, w której można oderwać się od codziennych trosk, zrelaksować i naładować energię. Dołącz do biegowej
            społeczności i odkryj, jak bieganie może odmienić Twoje życie!</p>

    </div>

    <div class="container-s">

        <div class="card">

            <a href="Karta1.html" style="text-decoration: none;">

                <div class="photo" id="z1">
                    <h3>Jakie buty wybrać?</h3>
                </div>

            </a>
        </div>

        <div class=" card">
            <a href="Karta2.html" style="text-decoration: none;">

                <div class="photo" id="z2">
                    <h3>Jak utrzymać tępo podczas biegu?</h3>
                </div>

            </a>
        </div>

        <div class="card">

            <a href="Karta3.html" style="text-decoration: none;">

                <div class="photo" id="z3">
                    <h3>Bieg, a tętno</h3>
                </div>
            </a>

        </div>

        <div class="card">
            <a href="Karta4.html" style="text-decoration: none;">

                <div class="photo" id="z4">
                    <h3>Dieta</h3>
                </div>
            </a>
        </div>
    </div>

</body>