<div class="contact">

  <div class="box-k">

    <form>
      <div class="data">
        <input type="text" id="fname" placeholder="Imię" name="firstname">
      </div>

      <div class="data">
        <input type="text" id="lname" placeholder="Nazwisko" name="lastname">
      </div>

      <div class="data">
        <input type="text" id="mail" placeholder="E-mail" name="e-mail">
      </div>

      <div class="data">
        <textarea id="wiadomosc" placeholder="Napisz wiadomość..."></textarea>

        <button class="button3">WYŚLIJ WIADOMOŚĆ</button>
      </div>

    </form>

  </div>

  <div class="background"></div>

  <div class="message">
     <div class="message-info"><img src="../../assets/img/tel.png"><div class="wrapper">456-765-980</div></div>
     <div class="message-info"><img src="../../assets/img/mail.png"><div class="wrapper">runcompany@gmail.com</div></div>
     <div class="message-info"><img src="../../assets/img/lok.png"><div class="wrapper">Słoneczna 48/2 Szczecin</div></div>
  </div>

</div>