
.container-s{
    
    width: 100%;
    
}

.card{
    margin-bottom: 30px;
  margin-top: 30px;
  padding: 20px;
  width: 100%;
  height: 600px;
  box-sizing: border-box;

}


.photo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    margin: 10px 0px;
    border-radius: 30px;
    text-decoration: none;
    height: 100%;

    h3{
        width: 100%;
        color: rgba(255, 255, 255, 0.866);
        font-size: 30px;
        font-family: sans-serif;
        background-color: rgb(0,0,0,0.5);
        text-decoration: none;
        text-align: center;
        padding: 15px 0;
        display: block;
        font-weight: lighter;
        text-align: center;
        

    }

    
    

}

.photo:hover h3{
    font-size: 40px;
}


#z1{
    background-image: url("../assets/img/buty.jpg");
    

}

#z2{
    background-image: url("../assets/img/zegar.jpg");
    
}

#z3{
    background-image: url("../assets/img/tetno2.jpg");
}

#z4{
    background-image: url("../assets/img/dieta3.jpg");

}
