.contact {
    display: flex;
    flex: 1 0 auto;
}


.box-k {

    background-color: #f2f2f2;
    width: 70%;
    padding: 20px;
    border-radius: 20px;
    top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;



}

.message {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.647);
    display: flex;
    justify-content: center;
    width: 30%;
    height: 350px;

    img {
        width: 50px;
    }

    &-info {
        color: white;
        display: flex;
        padding: 20px 0;
        margin-left: 20px;
    }
}


.wrapper {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

h1 {
    color: rgb(0, 0, 0);
    text-align: center;

}

input,
textarea {
    background: transparent;
    border: 0;
    border-bottom: solid 2px #6ed73e;
    font-size: 18px;
    display: flex;
    align-items: center;
    padding: 10px 0;
    margin-top: 30px
}

.button3 {
    margin-top: 30px;
    height: 30px;
    width: 100%;
    background-color: transparent;
    font-family: sans-serif;
    border: 2px solid #6ed73e;
}


@media only screen and (max-width: 1080px) {



    h1 {

        width: auto;
        color: rgb(0, 0, 0);
        text-align: center;
        font-size: 30px;
    }


    .box-k {

        width: auto;

        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        border: 2px solid black;
    }


}

@media only screen and (max-width: 750px) {

    .box-k {
        margin: 10px;
    }

    .input {
        width: auto;
    }

    h1 {
        font-size: 20px;
    }

    .box-k {
        margin-top: 80px;
    }

}