main {
    margin-top: 30px;
}

.tile-container {
    display: flex;
    box-shadow: 0px 0px 20px #b3a4a4;
    border-radius: 30px;
    background-color: rgba(234, 240, 244, 0.685);
    color: rgb(80, 80, 80);

    h1 {
        color: #6ed73e;
    }

}


.box-w {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 100%;
    align-items: center;
    padding: 20px 0;
    flex-wrap: wrap;

    background-color: rgba(234, 240, 244, 0.685);

    a {
        text-decoration: none;
        font-weight: 500;
        font-size: 20px;
        color: white;
    }

    h3 {
        font-size: 40px;
        margin-bottom: 30px;
    }

}



.box-w a:hover {
    color: #6ed73e;
}


.city {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    height: 100%;
    flex-wrap: wrap;

    >div {
        border-top-left-radius: 40%;
        border-top-right-radius: 40%;
        overflow: hidden;
    }


    &-container {

        display: flex;
        flex-direction: column;
        width: 300px;
        height: 250px;

        div {
            background-color: grey;
            text-align: center;
            padding: 10px 0px;
        }

        img {
            width: 100%;
            height: 100%;
            border-top-left-radius: 40%;
            border-top-right-radius: 40%;
        }
    }
}





.name {
    display: flex;
    align-items: left;

    h1{
        font-weight: bold;
    }

}

h1 {
    text-align: left;
    font-size: 50px;
    margin-left: 30px;
    margin-top: 150px;
    white-space: nowrap

}


.tile {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 0;

    img {
        height: 300px;
        width: auto;
        border-radius: 30px;
        margin-right: 30px;
        aspect-ratio: 13/8;
        object-fit: cover;

    }

}

.info {
    margin-right: clamp(100px, 12.5vw, 300px);

    p {
        font-size: 20px;
    }

    &-number {

        font-size: 20px;
    }

    h2{
        font-size: 30px;
        font-weight: bold;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    h3{
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20px;
    }
}




.price {
    margin-right: 30px;
    display: flex;
    flex-direction: column;

    h1 {
        text-align: end;
        font-size: 40px;
        margin-top: 10px;
    }

    h2 {
        font-size: 30px;
        margin-bottom: 10px;
        margin-top: 20px;
        font-weight: bold;
    }

}


.wrap {
    flex: 1;
}

.button2 {
    display: block;
    padding: 10px;
    border-radius: 8px;
    font-size: 88%;
    border: none;
    background-color: #6ed73e;
    color: black;
    font-size: 18px;
    margin-bottom: 20px;
}




h1 {
    text-align: center;
    font-size: 40pxx;

}


@media only screen and (max-width: 1080px) {


    .tile {
        display: flex;
        justify-content: center;
        width: 100%;

        img {
            height: 50vw;
            border-radius: 30px;
            width: 100%;
            margin-right: 30px;


        }

    }




}

@media only screen and (max-width: 750px) {

    .city {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        flex: initial;

        &-container{
            margin-bottom: 30px;
        }
    }




    .button2 {
        width: 100%;
        height: auto;
        margin-bottom: 10px;

    }





}

@media only screen and (max-width: 620px) {
    .tail-container {
        display: flex;
        flex-wrap: wrap;
        margin: 0 50px;
    }

    .info {
        margin-left: 30px;
        margin-bottom: 30px;
    }

    .price {
        margin-left: 250px;
        text-align: center;
    }

    .tile img {

        margin-right: 0;


    }

    .tile-container{
        flex-direction: column
    }

}

@media only screen and (max-width: 519px) {
    .price h1 {
        white-space: nowrap;
    }

    .tile img {

        margin-right: 0;


    }

}